@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #f2f2f2;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Inter', sans-serif;
}
/* #56ac68e6 */